<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.shihchieh.clippyisle</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clippyisle</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>CC Isle needs access to your local network to host the web management interface.</string>
	<key>CFBundleDisplayName</key>
	<string>CC Isle</string>
</dict>
</plist>
